html {
  box-sizing: border-box;
  font-size: 100%
}
)

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.3;
  font-family: 'Karla', sans-serif;
  color: var(--light-gray);
}

:root {
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}
